$tablet-width: 640px;
$laptop-width: 1024px;
$border-radius-small: 24px;
$border-radius-big: 24px;

$color-purple-light: #8b5cf6;
$color-blue-dark: #051b79;
$color-white: #fff;
$color-red: #f20101;
$color-grey-light: #eef0ee;
$color-grey-medium: #d8dad8;
$color-grey-dark: #717070;
$color-semi-transparent: rgba(0, 0, 0, 0.5);
