@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as variables;

.page {
  min-height: 100vh;
  padding-block: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mixins.on-desktop {
    padding-block: 32px;
  }
}

.container {
  width: 100%;
  background-color: variables.$color-white;
  padding: 16px;
  border-radius: variables.$border-radius-big;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include mixins.on-desktop {
    padding: 24px;
  }
}

.cardContainer {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mixins.on-desktop {
    padding: 24px;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid variables.$color-grey-medium;
  padding: 16px;
  border-radius: variables.$border-radius-big;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(21, 71, 15, 0.3);
  }
}

.text {
  font-size: 16px;
}

.button {
  cursor: pointer;

  @include mixins.purple-button;
}

.purpleButton {
  cursor: pointer;
  text-decoration: none;
  width: 200px;

  @include mixins.purple-button;
}

.whiteButton {
  text-align: center;
  width: 200px;

  @include mixins.white-button;
}

.wrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modalOverlay {
  @include mixins.modal-overlay;
}