@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.page {
  min-height: 100vh;
  padding-block: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mixins.on-desktop {
    padding-block: 32px;
  }
}

.container {
  width: 100%;
  background-color: variables.$color-white;
  padding: 32px 16px;
  border-radius: variables.$border-radius-big;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.input {
  outline: none;
  width: 250px;
  padding: 10px;
  border: 1px solid variables.$color-grey-light;
  border-radius: variables.$border-radius-small;
  cursor: pointer;
  text-align: center;
  margin-bottom: 16px;
  background-color: transparent;

  @include mixins.on-tablet {
    width: 300px;
  }
}

.button {
  width: 200px;

  @include mixins.purple-button;
}

.buttonWhite {
  width: 200px;

  @include mixins.white-button;
}

.isLoading {
  @include mixins.loading-button;
}

.errorMessage {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  color: variables.$color-red;
}

.modalOverlay {
  @include mixins.modal-overlay;
}
